<!DOCTYPE html>
<html>
  <head>
    <title>Vrfored</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo99.png", width: 100, alt: "" %>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to 'Check all Lessons', lessons_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Post a VR Lesson', new_lesson_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'About us', about_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign out',  destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in',  new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up',  new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        </div>
    </nav>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6 footer-blurb">
            Proudly designed by Educators and for Educators @Brazil<br />
           </div>
      </div>
    </div>
  

  </body>
</html>
